@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/*Padronizações*/

* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/*Barra de Navegação*/

.barra {
    width: 1440px;
    height: 80px;
    
}

.barra-de-navegacao {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    margin: 18px 32px;
    justify-content: space-between;
    
}

.links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 32px;
}

.logo {
    gap: 8px;
    display: flex;
    align-items: center;
}

nav > .links > li {
    gap: 32px;
    color: #667085;
}

.link-barra {
    color: #667085;
}

.espaço {
    width: 142px;
    height: 32px;
}

.cadastrar {
    color: white;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 8px;
    padding: 10px 18px;
}

/*Cabeçalho*/

.cabecalho {
    text-align: center;
    padding: 96px;
    max-height: 407px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cabecalho > span {
    color: #8E2424;
    font-weight: 600;
    font-size: 16px;
}

h1 {
    color: #101828;
    font-weight: 600;
    font-size: 48px;
}

.cabecalho > p {
    color: #667085;
    font-weight: 400;
    font-size: 20px;
    max-width: 791px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*Seção de Métricas*/

.metricas {
    display: flex;
    margin-bottom: 96px;
    gap: 32px;
    
    justify-content: center;
}

.caixa-metricas {
    width: 280px;
}

.numero-metricas {
    color: #8E2424;
    font-weight: 600;
    font-size: 60px;
    
}

.minititulo-metricas {
    color: #101828;
    font-size: 18px;
    
}

.metricas > div > p {
    color: #667085;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}

/*Anúncio de Vagas*/

.introducao-vagas-texto {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao-vagas-texto > span {
    color: #8E2424;
    font-weight: 500;
    font-size: 14px;
    background: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    border-radius: 16px;
    width: 101px;
}

.introducao-vagas-texto > h2 {
    color: #101828;
    font-weight: 600;
    font-size: 36px;
    margin-top: 16px;
}

.introducao-vagas-texto > p {
    color: #667085;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.introducao-vagas > figure > img {
    display: block;
    margin: 64px auto;
}

/*Vagas*/

.vagas {
    margin-bottom: 96px;
}

.vagas-por-categoria {
    display: flex;
    width: 1280;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
}

.tipo-vaga {
    color: #101828;
    font-size: 20px;
    margin-bottom: 32px;
    width: 768px;
}

.vaga {
    padding: 24px 24px 28px 24px;
    border: 1px #EAECF0 solid;
    border-radius: 16px;
    width: 720px;
    margin: 0 auto 24px auto;
}

.titulo-vaga {
    color: #101828;
    font-size: 18px;
    margin-bottom: 32px;

}

.detalhes-vaga {
    display: flex;
    gap: 24px;
    color: #667085;
    font-size: 16px;
}

.primeiro {
    margin-bottom: 64px;
}

/*Depoimentos*/

.depoimentos {
    margin-bottom: 96px;
}

.background {
    background: rgba(195, 25, 25, 0.03);
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1216px;
    margin: 0 auto;
    border-radius: 16px;
}


.texto-vermelho {
    color: #8E2424;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;
}

.depoimentos > .background > h2 {
    color: #101828;
    font-size: 36px;
}

.autoria-do-comentario {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 56px;
    margin-bottom: 16px;
}

.nome {
    color: #101828;
    font-size: 16px;
}

.funcao {
    color: #667085;
    font-size: 14px;
    font-weight: 400;
}

/*Rodape*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
    padding: 96px 0;
}

footer h2 {
    color: #101828;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.texto-auxiliar {
    color: #667085;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.area-botao {
    display: flex;
    gap: 16px;
}

footer input {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    padding: 12px 14px 12px 16px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 360px;
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}

footer button {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    background: #8E2424;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.copyright {
    color: #98A2B3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}